body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

header{
  width: 100vw;
}

nav{
  width: 100vw;
  background-color: #D6EFFF;
}

ul{
  margin: 0;
  padding: 0;
  display: flex;
}

nav li{
  list-style-type: none;
  margin: 0 2vw;
  font-size: 3vh;
}

a{
  text-decoration: none;
  color: black;
}

a.menu{
    padding: 2vw;
}

a:hover{
  background-colour: #C6E9FF;
}

button{
  display: none;
}

@media only screen and (max-width: 500px){
  ul{
    flex-direction: column;
  }
  li{
    margin: 0;
  }
  a{
    display: block;
  }
  
  button{
    display: block;
    padding: 2vw;
    font-size: 3vh;
    background-color: #AFE0FF;
    border: none;
    outline: none;
    cursor: pointer;
    align-self: flex-start;
  }
}
  
