body{
  margin: 0;
}

header{
  width: 100vw;
}

nav{
  width: 100vw;
  background-color: #D6EFFF;
}

ul{
  margin: 0;
  padding: 0;
  display: flex;
}

nav li{
  list-style-type: none;
  margin: 0 2vw;
  font-size: 3vh;
}

a{
  text-decoration: none;
  color: black;
  padding: 2vw;
  font-family: monospace;
}

a:hover{
  background-colour: #C6E9FF;
}

  
